<div class="tw-max-w-[64rem] tw-mx-auto tw-flex tw-flex-col tw-gap-y-4 tw-p-4">

	<mat-card [style]="cardStyle" class="!tw-rounded-2xl !tw-shadow-none tw-w-64 tw-aspect-square">
		<mat-card-content>
			<app-campaign-progress-small [campaign]="campaign" />
		</mat-card-content>
	</mat-card>

	<mat-card [style]="cardStyle" class="!tw-rounded-2xl !tw-shadow-none">
		<mat-card-content>
			Some other component could be here...
		</mat-card-content>
	</mat-card>

</div>
